body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.container-n{
    border-radius: 15px;
    background-color: skyblue;
    width: 300px;
    /* updated code */
    height: 400px;
    box-shadow: 4px 5px 6px;
    display: flex;
    flex-direction: column;
}

.container{
    padding-bottom: 5px;
}
.task-container{
    overflow: auto;  /* input scroll*/
    flex: 1;        /*remaining space lega */
}
.header{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1.5px solid white;
}

.AddTask{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

#inputType{
    padding: 7px;
    border-radius: 5px;
}

button{
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
}

ul{
    list-style: none;
    padding: 15px;
}

li{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 7px;
}